lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz
*.xml

pids
logs
tmp
results
.idea

test/generated/*.js

node_modules
cobertura-coverage.xml
html-report
npm-debug.log
reports
coverage

.DS_Store
