<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8" />
  <meta name="fragment" content="!" />
  <title>Formula.js Function</title>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/nv.d3.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata" />
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="http://stoic.cloudfoundry.com/public/run2.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/d3.v2.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jstat.min.js"></script>
  <script type="text/javascript" src="js/lodash.min.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <script type="text/javascript" src="js/numeral.min.js"></script>
  <script type="text/javascript" src="js/numeric.min.js"></script>
  <script type="text/javascript" src="js/nv.d3.js"></script>
  <script type="text/javascript" src="js/underscore.string.min.js"></script>
  <script type="text/javascript" src="../lib/formula.js"></script>
  <script type="text/javascript" src="libraries.js"></script>
  <script type="text/javascript" src="demos.js"></script>
  <script type="text/javascript" src="tests.js"></script>
  <script type="text/javascript" src="unsupported.js"></script>
  <script type="text/javascript" src="controller.js"></script>
  <script type="text/javascript" src="function.js"></script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="index.html">Formula.js</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="tests.html">Tests</a>
            </li>
            <li class="">
              <a href="http://stoic.com/">STOIC</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="FunctionDetails">
    <div class="container" ng-hide="reveal">
      <div class="header">
        <i class="icon-spinner icon-spin icon-2x"></i><br/>
      </div>
    </div>
    <div class="container" ng-show="reveal" ng-cloak>

      <!-- Header -->
      <div class="row">
        <div class="span10">
          <h1 class="header">{{ ffunction.stc_name }}</h1>
          <p class="lead" style="margin-top: 0em;">{{ ffunction.stc_description }}</p>
          <p style="font-size: 1.25em;">
            <a href="index.html#{{ type.stc_identifier.substring(4) }}"><i class="{{ type.stc_icon }}"></i> {{ type.stc_name }}</a>
          </p>
        </div>
        <div class="span2" ng-show="related">
          <p class="lead header"><i class="icon-share muted"></i>&nbsp; Related</p>
          <p ng-repeat="related_function in related_functions">
            <a href="function.html?name={{ related_function.name }}" title="{{ related_function.name }} function">
              {{ related_function.name }}
            </a>
          </p>
        </div>
      </div>

      <!-- Interface -->
      <div class="row">
        <div class="span6">
          <p class="lead"><i class="icon-signin muted"></i>&nbsp; Input</p>
          <input type="text" ng-model="syntax" class="formula-input" disabled="true" />
          <input type="text" ng-model="myFormula" class="formula-input" ng-change="refreshOutput()" />
        </div>
        <div class="span6">
          <p class="lead"><i class="icon-signout muted"></i>&nbsp; Output</p>
          <pre class="formula-result"><i class="{{ datatypes[output_datatype].stc_icon }}"></i> {{ output_datatype.substring(4) }} </pre>
          <pre class="formula-result">{{ myOutput.toString() }} </pre>
        </div>
      </div>

      <!-- Parameters -->
      <div class="row">
        <div class="span12">
          <p class="lead"><i class="icon-list-ol muted"></i>&nbsp; Parameters</p>
          <table class="table table-hover table-middle" width="100%">
            <tbody>
              <tr ng-repeat="parameter in ffunction.stc_input">
                <td nowrap="true"><strong>{{ parameter.name }}</strong></td>
                <td nowrap="true"><code>{{ parameter.id }}</code></td>
                <td nowrap="true">{{ parameter.symbol }}</td>
                <td nowrap="true"><i class="{{ datatypes[parameter.datatype].stc_icon }}"></i> {{ datatypes[parameter.datatype].stc_name }}</td>
                <td nowrap="true">{{ parameter.required_label }}</td>
                <td nowrap="true">{{ parameter.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Notes -->
      <div class="row" ng-show="notes">
        <div class="span12">
          <p class="lead"><i class="icon-edit muted"></i>&nbsp; Notes</p>
          <p>{{ notes }}</p>
        </div>
      </div>

      <!-- Units -->
      <div class="row" ng-show="units">
        <div class="span12">
          <p class="lead"><i class="icon-dashboard muted"></i>&nbsp; Units</p>
          <table class="table table-hover table-middle" width="100%">
            <thead>
              <th>Name</th>
              <th>Symbol</th>
              <th>Wikipedia</th>
            </thead>
            <tbody ng-repeat="quantity in quantities_list">
              <tr class="info">
                <td colspan="2"><span class="table-section">{{ quantity.name }}<span></td>
                <td colspan="2"><a href="{{ quantity.wikipedia }}">{{ wikipediaTitle(quantity.wikipedia) }}</a></td>
              </tr>
              <tr ng-repeat="unit in quantity.units">
                <td nowrap="true">{{ unit.stc_name }}</td>
                <td nowrap="true"><code>{{ unit.stc_symbol }}</code></td>
                <td nowrap="true"><a href="{{ unit.stc_wikipedia }}">{{ wikipediaTitle(unit.stc_wikipedia) }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" ng-show="units">
        <div class="span12">
          <p class="lead"><i class="icon-remove muted"></i>&nbsp; Prefixes</p>
          <table class="table table-hover table-middle" width="100%">
            <thead>
              <th>Prefix</th>
              <th>Value</th>
              <th>Abbreviation (used as prefix)</th>
              <th>Derived from</th>
            </thead>
            <tbody>
              <tr class="info">
                <td colspan="3">
                  <span class="table-section">Unit prefixes</span>
                </td>
                <td>
                  <a href="http://en.wikipedia.org/wiki/International_System_of_Units#Prefixes"><i class="icon-info-sign"></i> Wikipedia</a>
                </td>
              </tr>
              <tr ng-repeat="prefix in unit_prefixes">
                <td nowrap="true">{{ prefix[0] }}</td>
                <td nowrap="true"><code>{{ prefix[1] }}</code></td>
                <td nowrap="true" colspan="2"><code>{{ prefix[2] }}</code><span ng-show="prefix[3]"> or <code>{{ prefix[3] }}</code></span></td>
              </tr>
              <tr class="info">
                <td colspan="3">
                  <span class="table-section">Binary prefixes</span>
                </td>
                <td>
                  <a href="http://en.wikipedia.org/wiki/Binary_prefix"><i class="icon-info-sign"></i> Wikipedia</a>
                </td>
              </tr>
              <tr ng-repeat="prefix in binary_prefixes">
                <td nowrap="true">{{ prefix[0] }}</td>
                <td nowrap="true"><code>2<sup>{{ prefix[1] }}</sup> = {{ prefix[2] }}</code></td>
                <td nowrap="true"><code>{{ prefix[3] }}</code></td>
                <td nowrap="true">{{ prefix[4] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Plots -->
      <div class="row" ng-show="plots">
        <div class="span6">
          <p class="lead"><i class="icon-bar-chart muted"></i>&nbsp; PDF</p>
          <div id="chart-pdf">
            <svg style="height: 300px;"></svg>
          </div>
        </div>
        <div class="span6">
          <p class="lead"><i class="icon-bar-chart muted"></i>&nbsp; CDF</p>
          <div id="chart-cdf">
            <svg style="height: 300px;"></svg>
          </div>
        </div>
      </div>

      <!-- Equations -->
      <div class="row" ng-show="equations">
        <div class="span12">
          <p class="lead"><i class="icon-beaker muted"></i>&nbsp; Equations</p>
        </div>
        <div class="span6">
          <table class="table table-hover table-middle" width="100%">
            <tbody>
              <tr ng-repeat="equation in equations_left" class="equation-row">
                <td nowrap="true" class="equation-row"><strong>{{ equation.name }}</strong></td>
                <td nowrap="true" class="equation-row">\[{{ equation.equation }}\]</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="span6">
          <table class="table table-hover table-middle" width="100%">
            <tbody>
              <tr ng-repeat="equation in equations_right" class="equation-row">
                <td nowrap="true" class="equation-row"><strong>{{ equation.name }}</strong></td>
                <td nowrap="true" class="equation-row">\[{{ equation.equation }}\]</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Spreadhseets -->
      <div class="row" ng-show="spreadsheets">
        <div class="span6">
          <p class="lead"><i class="icon-table muted"></i>&nbsp; Google Spreadsheets</p>
          <iframe width="485" height="135" frameborder="0" src="{{ ffunction.stc_google_sample }}" class="google-iframe"></iframe>
        </div>
        <div class="span6">
          <p class="lead"><i class="icon-table muted"></i>&nbsp; Microsoft Excel</p>
          <iframe width="557" height="135" frameborder="0" scrolling="no" src="{{ ffunction.stc_excel_sample }}"></iframe>
        </div>
      </div>

      <!-- Tests -->
      <div class="row" ng-show="tests">
        <div class="span12">
          <p class="lead"><i class="icon-stethoscope muted"></i>&nbsp; Tests</p>
          <table class="table table-hover">
            <thead>
              <th width="30%">Test</th>
              <th class="cell-header" width="30%">Expected</th>
              <th class="cell-header" width="30%">Result</th>
              <th class="cell-header" width="10%">Pass</th>
            </thead>
            <tbody>
              <tr ng-repeat="test in tests_list">
                <td nowrap="true"><code>{{ test.call }}</code></td>
                <td nowrap="true" class="cell-content">{{ test.result }}</td>
                <td nowrap="true" class="cell-content">{{ evaluateTest(test.call) }}</td>
                <td nowrap="true" class="cell-icon"><i class="{{ checkTest(test.call, test.result, test.bypass) }} icon-large"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- References -->
      <div class="row">
        <div class="span12">
          <p class="lead"><i class="icon-info-sign muted"></i>&nbsp; References</p>
          <table class="table table-hover table-middle" width="100%">
            <tbody>
              <tr>
                <td width="10%"><img src="img/Google%20Spreadsheets.png" class="logo" title="Google Spreadsheets" /></td>
                <td width="20%">Google Spreadsheets</td>
                <td width="35%">
                  <code ng-show="google">{{ ffunction.stc_google_name }}</code>
                  <span ng-hide="google">Not available</span>
                </td>
                <td width="35%">&nbsp;</td>
              </tr>
              <tr>
                <td><img src="img/Microsoft%20Excel.png" class="logo" title="Microsoft Excel" /></td>
                <td>Microsoft Excel</td>
                <td>
                  <code ng-show="excel">{{ ffunction.stc_excel_name }}</code>
                  <span ng-hide="excel">Not available</span>
                </td>
                <td ><a href="{{ ffunction.stc_excel_documentation }}">Documentation</a></td>
              </tr>
              <tr ng-show="wikipedia">
                <td><img src="img/Wikipedia.png" class="logo" title="Wikipedia" /></td>
                <td colspan="2">Wikipedia</td>
                <td><a href="{{ ffunction.stc_wikipedia }}">{{ wikipedia_title }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Library -->
      <div class="row">
        <div class="span12">
          <p class="lead"><i class="icon-cogs muted"></i>&nbsp; Library</p>
          <table class="table table-hover table-middle" width="100%">
            <tbody>
              <tr>
                <td width="10%"><img src="img/{{ ffunction.stc_library.stc_logo }}.png" class="logo" /></td>
                <td width="20%"><a href="{{ ffunction.stc_library.stc_website }}">{{ ffunction.stc_library.stc_name }}</a></td>
                <td width="70%">Author: {{ ffunction.stc_library.stc_author }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Implementation -->
      <div class="row" ng-show="implementation">
        <div class="span12">
          <p class="lead"><i class="icon-cog muted"></i>&nbsp; Implementation</p>
          <div id="gist"></div>
        </div>
      </div>

      <!-- Discussions -->
      <div class="row">
        <div class="span12">
          <p class="lead"><i class="icon-comments-alt muted"></i>&nbsp; Discussions</p>
          <div id="disqus_thread"></div>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>

    </div>
  </div>
  <footer>
    <div class="container">
      <p>
        <small>
          Copyright © 2012 Sutoiku, Inc. |
          Excel is a registered trademark of Microsoft Corporation |
          Google Spreadsheets is a trademark of Google, Inc.
        </small>
      </p>
      <br/>
    </div>
  </footer>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '506315c7f5a1f5784b0000c6');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
