<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8" />
  <meta name="fragment" content="!" />
  <title>Formula.js Tests</title>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata" />
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/jstat.min.js"></script>
  <script type="text/javascript" src="js/lodash.min.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <script type="text/javascript" src="js/numeral.min.js"></script>
  <script type="text/javascript" src="js/numeric.min.js"></script>
  <script type="text/javascript" src="js/underscore.string.min.js"></script>
  <script type="text/javascript" src="../lib/formula.js"></script>
  <script type="text/javascript" src="libraries.js"></script>
  <script type="text/javascript" src="demos.js"></script>
  <script type="text/javascript" src="tests.js"></script>
  <script type="text/javascript" src="unsupported.js"></script>
  <script type="text/javascript" src="controller.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="index.html">Formula.js</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="tests.html">Tests</a>
            </li>
            <li class="">
              <a href="http://stoic.com/">STOIC</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <header>
    <div class="container">
      <h1>Tests</h1>
      <p class="lead">Tests are designed to match the behavior of functions executed with <a href="http://office.microsoft.com/en-us/excel-help/excel-functions-by-category-HA102752955.aspx">Microsoft Excel 2013</a> and <a href="https://support.google.com/drive/bin/static.py?hl=en&topic=25273&page=table.cs">Google Spreadsheets</a></p>
    </div>
  </header>
  <div ng-controller="TestCases">
    <div class="container">
      <div ng-repeat="function in tests" class="row">
        <div class="span12">
          <a name="{{ function.function }}"></a>
          <a href="function.html?name={{ function.function }}" title="{{ function.function }} function">
            <h2 class="link-plain">{{ function.function }}</h2>
          </a>
          <table class="table table-hover">
            <thead>
              <th width="30%">Test</th>
              <th class="cell-header" width="30%">Expected</th>
              <th class="cell-header" width="30%">Result</th>
              <th class="cell-header" width="10%">Pass</th>
            </thead>
            <tbody>
              <tr ng-repeat="test in function.tests">
                <td nowrap="true"><code>{{ test.call }}</code></td>
                <td nowrap="true" class="cell-content">{{ test.result }}</td>
                <td nowrap="true" class="cell-content">{{ $eval(test.call).toString() }}</td>
                <td nowrap="true" class="cell-icon"><i class="{{ TEST($eval(test.call), test.result, test.bypass) }} icon-large"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <p><small>© Sutoiku, Inc. 2012 | Excel is a registered trademark of Microsoft Corporation | Google Spreadsheets is a trademark of Google, Inc.</small></p>
      <br/>
    </div>
  </footer>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '506315c7f5a1f5784b0000c6');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
